@import "variables";

@mixin grid-item($row-start, $row-end, $column-start, $column-end) {
  grid-row-start: $row-start;
  grid-row-end: $row-end;
  grid-column-start: $column-start;
  grid-column-end: $column-end;
}


.grid {
  width: 100vw;
  max-height: 100%;
  height: 100%;
  &__container {
    display: grid;
    align-self: center;
    width: 75%;
    height: auto;
    margin: 0 auto;
    grid-template-columns: repeat(5, [col-start]  1fr [col-end]);
    //grid-column-gap: 30px;
    grid-template-rows: repeat(21, [row-start]  100px [row-end]);
    gap: 10px;
    //justify-items: stretch;
    //justify-content: end;
    //align-items: end;
    div {border: solid 2px deeppink}
    grid-template-areas:
            ". . menu menu menu"
            "header header header header header"
            "description description photo photo photo"
            "description description photo photo photo"
            "description description photo photo photo"
            "description description photo photo photo"
            "faces faces faces faces faces"
            "faces faces faces faces faces"
            "faces faces faces faces faces"
            "faces faces faces faces faces"
            "service  service  service service  service"
            "service  service  service service  service"
            "service  service  service service  service"
            "acces acces acces acces acces"
            "acces acces acces acces acces"
            "acces acces acces acces acces"
            "banner banner banner banner banner"
            "banner banner banner banner banner"
            "footer footer footer footer footer"
            "footer footer footer footer footer"
            "footer footer footer footer footer";

    &--menu {
      grid-area: menu;
    }
    &--header {
      grid-area: header;
    }
    &--description {
      grid-area: description;
    }
    &--photo {
      grid-area: photo;
    }
    &--faces {
      grid-area: faces;
    }
    &--service {
      grid-area: service;
    }
    &--acces {
      grid-area:acces;
    }
    &--banner {
      grid-area: banner;
    }
    &--footer {
      grid-area: footer;
    }
  }
}

.gumowa-jasczurka {
  @include grid-item(4, 4, 1, 3); // 7 8 1 3 ?? ?? brzmi lepiej ale nie działa
  background-color: greenyellow;
  justify-self: center;
  align-self: stretch;
}

.gumowa-kaczka {
  background-color: yellow;
  width:50px;
  height:50px;
  justify-self: end;
}
.flex-container {
  display: flex;
  flex-flow: row;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  &__item {
    flex: 25%;
    max-width: 100px;
    background-color: aqua;
    background-clip: content-box;
    padding: 10px;
    &--darkviolet {
      color: darkviolet;
    }
  }
}