$menu-item-width: 100%/6;
  .navigation {
    max-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    flex-basis: $menu-item-width*4;

    &__item {
      flex-basis: auto;
      flex-grow: 1;
      display: block;
      padding: 15px;
    }
}