$menu-item-width: 100%/6;

@mixin menu__element() {
  flex-basis:$menu-item-width;
  max-height: 100%;
  padding: 15px;
  display: block;
  background-color: deepskyblue;
  //min-height: 20px;
}



.menu {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;

  &__points-de-vente {
    @include menu__element()
  }

  &__mon-compte {
    @include menu__element()
  }

  &__ma-selection {
    @include menu__element()
  }

  &__aide {
    @include menu__element()
  }
}