$point-column-width: 100%/3;

@mixin specify-grid-area($row-line-start, $which-row-start, $row-line-end, $which-row-end, $col-line-start, $which-col-start, $col-line-end, $which-col-end) {
  grid-row-start: $row-line-start $which-row-start;
  grid-row-end: $row-line-end $which-row-end;

  grid-column-start: $col-line-start $which-col-start;
  grid-column-end: $col-line-end $which-col-end;

  border: solid 2px cornflowerblue;
}

@mixin specify-grid(
    $row-number,
    $row-space,
    $row-line-name-start,
    $row-line-name-end,
    $column-number,
    $column-space,
    $column-line-number-name-start,
    $column-line-number-name-end
  ){
  grid-template-rows: repeat($row-number, [$row-line-name-start] $row-space [$row-line-name-end]);
  grid-template-columns: repeat($column-number, [$column-line-number-name-start] $column-space [$column-line-number-name-startend]);
}

.point {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;

  //grid-template-rows: repeat(6, [point-row-start] 1fr [point-row-end]);
  //grid-template-columns: repeat(3, [point-col-start] 1fr [point-col-end]);

  &__addres {
     // @include specify-grid-area(point-row-start, 1, point-row-end, 3, point-col-start, 1, point-col-end, 3)
    flex-basis: 30%;
  }

  &__meet-up {
    @include specify-grid-area(point-row-start, 3, point-row-end, 4, point-col-start, 1, point-col-end, 3)
  }

  &__opening-hours {
    @include specify-grid-area(point-row-start, 4, point-row-end, 6, point-col-start, 1, point-col-end, 3)
  }
}

.opening-hours {
  @include specify-grid(
    5,
    1fr,
    opening-row-line-start,
    opening-row-line-end,
    2,
    1fr,
    opening-column-line-start,
    opening-column-line-end
  );

  &__title {
    flex-basis: 100%;
    height: 100px;
    background-color: violet;
  }

 &__week {
    flex-basis: 40%;
    background-color: darkviolet;
 }

  &__weekend{
    flex-basis: 60%;
    background-color: mediumvioletred;
  }
}