@import "grid";
@import "point";

* {
  background-color: black;
  border: deepskyblue solid 1px;
  color: floralwhite;
}

.presentation {
  display: flex;
  max-width: 100%;
  &--logo{

  }
  &--description {

  }
}