/**************************ROW VARIABLES******************************/
$row-gap: 25px;
$row-number: 9;
$row-size: (100% / $row-number);
/**************************COLUMN VARIABLES******************************/
$column-gap: 25px;
$column-number: 12;
$column-size: (100% / $column-number);
